@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&display=swap');
* {
    margin: 0;
    height: 100%
}


$default-font: 'Inria Sans', sans-serif;

.container{
    display: flex;
    flex-direction: column;
    max-width:1200px;
    margin: 0 auto;
    font-family: $default-font;
}
app-header{
    height: 70px;
}
.userView{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
app-dish-list{
    flex-basis: 60%;
}
app-order-list{
    flex-basis: 30%;
}