<div class="registerContainer">
    <form [formGroup]="form" class="loginForm">
        Rejestracja
        <input class="inputField item" name="firstName" formControlName="firstName" placeholder="Imię">
        <input class="inputField item" name="lastName" formControlName="lastName" placeholder="Nazwisko">
        <input class="inputField item" name="email" formControlName="email" placeholder="Email">
        <input class="inputField item" name="password" formControlName="password" type="password" placeholder="Hasło">
        <button class="loginButton item" (click)="register()">Zarejestruj</button>
        <button class="loginButton item" *ngIf="isAdmin()" (click)="registerAsAdmin()">Utwórz konto administratora</button>
    </form>
</div>