<div class="container">
    <app-header></app-header>
    <div class="services">
        Nasi Fryzjerzy:
        <app-providers>

        </app-providers>
        Nasze usługi:
        <app-items>
            
        </app-items>
        <!--
        <app-avaiable-services 
            [selectedServices]="selectedServices"
            class="services__avaiable">
        </app-avaiable-services>

        <app-selected-services 
            [selectedServices]="selectedServices"
            class="services__selected">
        </app-selected-services>
        -->
    </div>
</div>