<div class="dashboard">
    <div class="dashboardSidebar">
        <div class="sidebarHeader">
            Nazwa zakładu
        </div>
        <div class="dashboardNav">

        </div>
    </div>
    <div class="dashboardContent">
        <div class="contentHeader">
            header
        </div>
        <div class="dashboardContent__content">
            <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
            <div class="footer">
                footer
            </div>
        </div>
    </div>
</div>