<div class="dashboard">
    <div class="dashboardSidebar">
        <div class="dashboardSidebar__header">
            <h1>Fryzjerex</h1>
            <h3>Sp. z o.o.</h3>
        </div>
        <div class="dashboardSidebar__nav">
            <ul>
                <li><a routerLink="duty-roster">Grafik</a></li>
                <li><a routerLink="services">Usługi</a></li>
                <li><a href="/#">Pracownicy</a></li>
                <li><a href="/#">Klienci</a></li>
                <li class="logout_button"><a href="/#">Wyloguj</a></li>
            </ul>
        </div>
    </div>
    <div class="dashboardContent">
        <div class="dashboardContent__header">
            <h2>{{title}}</h2>
            <div class="loggedAsTxt">
                Zalogowany jako Jan Kowalski <button class="logoutButton" (click)="logout()" >Wyloguj się</button>
            </div>

        </div>
        <div class="dashboardContent__content">
            <div class="content__main">
                <router-outlet></router-outlet>
            </div>
            <div class="content__footer">
                Copyright by RafalH4. Email: r.huk@outlook.com
            </div>
        </div>
    </div>
</div>