<div class="loginContainer">
    <!-- login: test@o2.pl
        pass: test -->
    <form [formGroup]="form" class="loginForm">
        <input class="inputField item" name="email" formControlName="email" placeholder="Email">
        <input class="inputField item" name="password" formControlName="password" type="password" placeholder="Hasło">
        <button class="loginButton item" (click)="login()">Zaloguj</button>
        <div class="registerPanel item">
            Nie masz konta?
            <a href="/register">Zarejestruj się</a>
        </div>
    </form>
</div>