<div class="loginContainer">
    <!-- login: test@o2.pl
        pass: test -->
    <form [formGroup]="form" class="loginForm">
        <input class="inputField item" name="email" formControlName="email" placeholder="Email">
        <input class="inputField item" name="password" formControlName="password" type="password" placeholder="Hasło">
        <button class="loginButton item" (click)="login()">Zaloguj</button>
        <div class="registerPanel item">
            <p>Nie masz konta?
                <a href="/register">Zarejestruj się</a></p>
            <p>Nie pamiętasz hasła?
                <a href="/reset">Kliknij tutaj</a>
            </p>
        </div>
    </form>
</div>