login: test@o2.pl
pass: test
<div class="loginContainer">
    <form [formGroup]="form" class="loginForm">
        <div class="form-field">
            <input class="inputField" name="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-field">
            <input class="inputField" name="password" formControlName="password" type="password" placeholder="Hasło">
        </div>
        <button class="loginButton" (click)="login()">Zaloguj</button>
        <div class="registerSection">
            Nie masz konta?
            <a href="/register">Zarejestruj się</a>
        </div>
    </form>
</div>